<div class="calendar">
    <div class="calendar-header">
        <span class="month-picker" id="month-picker">February</span>
        <div class="year-picker">
            <span class="year-change" id="prev-year">
                <pre><</pre>
            </span>
            <span id="year">2021</span>
            <span class="year-change" id="next-year">
                <pre>></pre>
            </span>
        </div>
    </div>

    <button mat-raised-button (click)="openPopup(null, 'new')">New</button>
    <div class=" calendar-body">
        <div class="calendar-week-day">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="calendar-days">
            <div [id]="day.date" (dragstart)="handleDragStart($event)" (dragenter)="handleDragEnter($event)"
                (dragover)="handleDragOver($event)" (dragleave)="handleDragLeave($event)" (drop)="handleDrop($event)"
                (dragend)="handleDragEnd($event)" *ngFor="let day of days" class="calendar-day-hover">
                {{day.value}}



                <div [draggable]="true" (click)="openPopup(day.date , 'update')"
                    [ngClass]="{'event-data': calendarEvent[day.date]}" [title]="calendarEvent[day.date]">
                    {{calendarEvent[day.date]}}
                </div>

            </div>
        </div>
    </div>
    <div class="calendar-footer">
        <div class="toggle">
            <span>Dark Mode</span>
            <div class="dark-mode-switch">
                <div class="dark-mode-switch-ident"></div>
            </div>
        </div>
    </div>
    <div class="month-list"></div>
</div>